@media screen and (max-width: 550px) {
    .box {
        max-height: 450px;
    }
}
@media screen and (min-width: 550px) {
    .box {
        min-height: 150px;
    }
    .filter {
        width: 40%;
    }
    .map {
        width: 60%;
    }
}